@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  background-color: $color3-gold;
}

.hurst-homepage {
  font-family: Bershire Swash;
  text-align: center;
  text-decoration: underline overline $color4-pink;
 
}